<!DOCTYPE html>
<html lang="fr">
<head>

<meta charset="UTF-8">
<title>Mask Use Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
<script src="https://get.mavo.io/stable/mavo.js"></script>
<script src="customfct.js"></script>
<link rel="stylesheet" href="style.css">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
</head>
<body>

<main mv-storage="local" class="mv-autoedit" mv-app id="Masks" mv-autosave mv-bar="import export">
    <div property="type" mv-multiple>
        <h2><span property="typeName">Standard Masks</span> (<span property="typeMaxUsage">240</span> min)</h1>
        <article property="mask" mv-multiple>
            <header>
                <meta property="nextUseDate" content="[add_days(max_date(date(use.day)), 7)]">
                <input type="checkbox"  property="showUses"/>
                <span property="maskName">Mask 1</span>:
                <span mv-if="count(use) > 0" class="okForUse-[nextUseDate<=$today]">[human_duration(typeMaxUsage-sum(use.duration))] à partir du [day(nextUseDate)] [month(nextUseDate, 'name')]</span>
            </header>

            <section class="visible-[showUses]">
                <ul>
                    <li property="use" class="weight-[weight]" mv-multiple mv-initial-items="0">
                        <time property="day" mv-default=[$today]></time>
                        <div><input type="range" min="0" max="[max(duration, typeMaxUsage)]" value="60" step="5" class="slider" property="duration"></div><span>[human_duration(duration)]</span>
                    </li>
                </ul>
            </section>
        </article>
    </div>

</main>


</body>
</html>
