body {
  min-height: 100vh;
  box-sizing: border-box;
  background: #9196a1;
  font: 100% Helvetica Neue, sans-serif;
  text-align: center; }

button {
  cursor: pointer; }


main {
  font-size: 120%; }

article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  margin: 0.2em;
  background: white;
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }

  article > header {
    width: 100%;
    font-weight: bold;
    transition: .5s background; }

    article > header input[type=checkbox] {
      float:left;
      position: relative;
	  transform: scale(1.75);
	}

    article > header span.okForUse-true {
        color: green;
    }
    article > header span.okForUse-false {
        color: red;
    }

  article > section.visible-false {
    display:none;
  }
  article > section {
    flex: 1;
    margin: 0.5em 0 0;
    text-align: left; }
    article > section h2 {
      color: white;
      margin: 0;
      padding: .3rem .5rem;
      border-bottom: .2em solid;
      line-height: 1;
      font-weight: normal; }
    article > section ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      article > section ul li {
        width: 100%;
        display:table;
        margin: 1px 0;
        transition: .5s background; }
        article > section ul li p {
          margin: 0; }
        article > section ul li time {
            display: table-cell;
            white-space: nowrap;

        }
        article > section ul li div {
            width: 100%;
            display: table-cell;
        }
        article > section ul li div input {
            width: 100%;
        }
        article > section ul li span {
          float:right;
          position: relative;
          display: table-cell;
          white-space: nowrap;
          padding-left: .3em;
                            }
        article > section ul li p + p {
          margin-top: 1em;
          font-size: 80%; }

main > .mv-add {
  padding: .4em .6em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #757c8a;
  color: white;
  font-size: 120%;
  border-radius: .2em; }
  main > .mv-add:hover {
    background: #5e636e; }

div > .mv-add {
  padding: .2em .3em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #757c8a;
  color: white;
  font-size: 100%;
  border-radius: .2em; }
  div > .mv-add:hover {
    background: #5e636e; }

ul > .mv-add {
  padding: .1em .1em;
  margin-top: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #e0e0e0;
  color: rgb(0, 0, 0);
  font-size: 75%;
  border-radius: .2em;
}
  ul > .mv-add:hover {
    background: #c7c7c7; }


::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.6); }

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.6); }

::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.6); }

::placeholder {
  color: rgba(117, 117, 117, 0.6); }
